{% load static %}
{% load cart_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BoliBana - SuGu{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'src/images/favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/logo-sugu.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'src/output.css' %}">

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <!-- Hyperscript animation  apres ajout au panier-->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- Notifications -->
    {% include "suppliers/components/_notyf.html" %}

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    
    <main class="min-h-screen">
        <!-- Messages Django -->
        {% include 'includes/_messages.html' %}

        {% block content %}{% endblock %}
    </main>
    
    {% include 'footer.html' %}

    <!-- Sidebars -->
    {% include 'cart/sidebars/cart_sidebar.html' %}

    {% include 'cart/sidebars/product_options_sidebar.html' %}  

    <!-- Scripts des applications -->
    {% include 'cart/scripts/_cart_scripts.html' %}
    <script src="{% static 'accounts/js/main.js' %}"></script>

    <!-- Configuration HTMX -->
    {% csrf_token %}
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>