{% autoescape off %}
Bonjour,

Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe pour votre compte utilisateur sur {{ site_name }}.

Veuillez suivre le lien ci-dessous pour réinitialiser votre mot de passe :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Votre code de vérification à 6 chiffres est le : {{ code }}

Important : Vous aurez besoin de ce code lors de la réinitialisation de votre mot de passe.

Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail en toute sécurité.

Merci d'utiliser notre site !

L'équipe {{ site_name }}
{% endautoescape %}

