.product-sidebar-overlay {
    @apply absolute inset-0 bg-black/40 backdrop-blur-sm transition-all duration-500 ease-in-out opacity-0;
}

.product-sidebar-container {
    @apply pointer-events-auto w-screen max-w-md transform transition-transform duration-500 ease-in-out translate-x-full;
}

/* Styles pour l'overlay du panier */
.cart-sidebar-overlay {
    @apply fixed inset-0 bg-black/40 backdrop-blur-sm transition-all duration-500 ease-in-out opacity-0 pointer-events-auto;
}

.cart-sidebar-container {
    @apply pointer-events-auto transform transition-transform duration-500 ease-in-out translate-x-full;
}

