{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="{% static 'src/input.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="p-4 mx-auto bg-white rounded-lg shadow-md max-w-7xl sm:p-6 grid grid-cols-1 lg:grid-cols-3 gap-2">
    <div class="lg:col-span-2 mx-auto w-full block sm:flex">
    <div class="group relative product-item lg:col-span-1 mx-auto" data-product-id="{{ product.id }}">
        <a href="{% url 'product_detail' product.id %}" class="block product-link">
          <img src="{{ product.image.url }}"
               alt="{{ product.title }}"
               class="aspect-square w-full sm:w-64 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8]">
        </a>
        <h3 class="mt-4 text-sm text-gray-700">{{ product.title }}</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">{{ product.price|floatformat:0 }} Fcfa</p>

      </div>
    <form action="" method="POST" class="space-y-4 mx-auto">
      {% csrf_token %}
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">
        Évaluer ce produit
      </h2>
      <div class="flex flex-col items-start w-full">
        <div id="star-rating" class="flex justify-start items-center space-x-1 mb-4">
          <input type="radio" id="1-star" name="note" value="1" class="hidden peer">
          <label for="1-star"
                 class="text-2xl cursor-pointer peer-checked:text-yellow-400 hover:text-yellow-400 transition-colors">☆</label>
          <input type="radio" id="2-stars" name="note" value="2" class="hidden peer">
          <label for="2-stars"
                 class="text-2xl cursor-pointer peer-checked:text-yellow-400 hover:text-yellow-400 transition-colors">☆</label>
          <input type="radio" id="3-stars" name="note" value="3" class="hidden peer">
          <label for="3-stars"
                 class="text-2xl cursor-pointer peer-checked:text-yellow-400 hover:text-yellow-400 transition-colors">☆</label>
          <input type="radio" id="4-stars" name="note" value="4" class="hidden peer">
          <label for="4-stars"
                 class="text-2xl cursor-pointer peer-checked:text-yellow-400 hover:text-yellow-400 transition-colors">☆</label>
          <input type="radio" id="5-stars" name="note" value="5" class="hidden peer">
          <label for="5-stars"
                 class="text-2xl cursor-pointer peer-checked:text-yellow-400 hover:text-yellow-400 transition-colors">☆</label>
        </div>
        <p id="rating-text" class="text-sm font-medium text-gray-600 mb-4"></p>
      </div>
      <textarea id="review" name="comment" rows="4" required="true"
                class="block w-full p-1 pt-2 h-14 text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Écrire un commentaire client"></textarea>
      <div class="text-right py-2">
        <button type="submit"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2">
          Soumettre l'avis
        </button>
      </div>
    </form>
    </div>
  <div class="lg:col-span-1 hidden lg:flex flex-col space-y-4">
    <div class="flex items-center">
      <span class="text-yellow-400 text-xl">
        {% for i in "12345" %}
              {% if forloop.counter <= average_rating|floatformat:"0"|add:"0" %}
                ★
              {% else %}
                ☆
              {% endif %}
        {% endfor %}
      </span>
      <p class="ml-2 text-sm font-medium text-gray-900">{{ average_rating|floatformat:1 }} sur 5</p>
    </div>
    <p class="text-sm font-medium text-gray-500">{{ reviews.count }} évaluations globales</p>
    <div class="flex items-center mt-2">
  <span class="text-sm font-medium text-blue-600 hover:underline shrink-0">5 étoiles</span>
  <div class="w-3/4 h-4 mx-2 bg-gray-200 rounded">
    <div class="h-4 bg-yellow-400 rounded" style="width: {{ ratings_percentage.5 }}%"></div>
  </div>
  <span class="text-sm font-medium text-gray-500">{{ ratings_percentage.5|floatformat:1 }}%</span>
</div>
<div class="flex items-center">
  <span class="text-sm font-medium text-blue-600 hover:underline shrink-0">4 étoiles</span>
  <div class="w-3/4 h-4 mx-2 bg-gray-200 rounded">
    <div class="h-4 bg-yellow-400 rounded" style="width: {{ ratings_percentage.4 }}%"></div>
  </div>
  <span class="text-sm font-medium text-gray-500">{{ ratings_percentage.4|floatformat:1 }}%</span>
</div>
<div class="flex items-center">
  <span class="text-sm font-medium text-blue-600 hover:underline shrink-0">3 étoiles</span>
  <div class="w-3/4 h-4 mx-2 bg-gray-200 rounded">
    <div class="h-4 bg-yellow-400 rounded" style="width: {{ ratings_percentage.3 }}%"></div>
  </div>
  <span class="text-sm font-medium text-gray-500">{{ ratings_percentage.3|floatformat:1 }}%</span>
</div>
<div class="flex items-center">
  <span class="text-sm font-medium text-blue-600 hover:underline shrink-0">2 étoiles</span>
  <div class="w-3/4 h-4 mx-2 bg-gray-200 rounded">
    <div class="h-4 bg-yellow-400 rounded" style="width: {{ ratings_percentage.2 }}%"></div>
  </div>
  <span class="text-sm font-medium text-gray-500">{{ ratings_percentage.2|floatformat:1 }}%</span>
</div>
<div class="flex items-center">
  <span class="text-sm font-medium text-blue-600 hover:underline shrink-0">1 étoile</span>
  <div class="w-3/4 h-4 mx-2 bg-gray-200 rounded">
    <div class="h-4 bg-yellow-400 rounded" style="width: {{ ratings_percentage.1 }}%"></div>
  </div>
  <span class="text-sm font-medium text-gray-500">{{ ratings_percentage.1|floatformat:1 }}%</span>
</div>
  </div>

</div>


<div class="bg-white px-4 py-12 md:py-8 ">
  <div class="max-w-screen-xl mx-auto ">
    <h2 class="font-black text-black text-center text-3xl leading-none uppercase max-w-2xl mx-auto mb-12">Commentaires client</h2>
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4 relative grid gap-8 sm:grid-cols-2 lg:grid-cols-3 p-3 md:p-4">
      {% for review in reviews %}
      <div class="bg-gray-200 rounded-lg p-8 text-center">
        <p class="font-bold uppercase">{{ review.author.first_name }}</p>
        <p class="text-xl font-light italic text-gray-700">{{review.comment}}</p>
        <div class="flex items-center justify-center space-x-2 mt-4 text-yellow-400 text-xl">
          {% for i in "12345" %}
          {% if forloop.counter <= review.note %}
          ★

          {% else %}
          ☆
          {% endif %}
          {% endfor %}


        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>
</body>