@layer components {
  .cart-sidebar-overlay {
    @apply fixed inset-0 bg-black/40 backdrop-blur-sm transition-all duration-500 ease-in-out opacity-0 pointer-events-none;
  }

  .cart-sidebar-container {
    @apply pointer-events-auto w-full lg:w-[42rem] h-full transform transition-transform duration-500 ease-in-out translate-x-full bg-white shadow-xl;
  }
}
