@layer components {
  .cart-sidebar-overlay {
    @apply absolute inset-0 bg-red-500/40 backdrop-blur-sm transition-all duration-500 ease-in-out opacity-0;
  }

  .cart-sidebar-container {
    @apply pointer-events-auto w-screen max-w-md transform transition-all duration-500 ease-in-out translate-x-full bg-white shadow-xl;
  }
}
