{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Contenu spécifique au paiement à la livraison -->
    <div class="bg-white p-4 rounded-xl shadow-sm border border-yellow-100 mb-6">
        <div class="flex items-center space-x-3">
            <svg class="w-6 h-6 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <p class="text-sm text-gray-600">Vous paierez à la réception de votre commande</p>
        </div>
    </div>
    
    {% include 'cart/components/_payment_layout.html' %}
{% endblock %} 